<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MeiFeiApplication"
        android:allowBackup="true"
        android:label="美飞"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeiFei">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
